
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"] - Movie-Actor Database</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <button onclick="window.location.href = '@Url.Action("Index", "Home")';">Home</button>
            <button onclick="window.location.href = '@Url.Action("Index", "Movies")';">Movies</button>
            <button onclick="window.location.href = '@Url.Action("Index", "Actors")';">Actors</button>
            <button onclick="window.location.href = '@Url.Action("LinkActorsMovies", "Actors")';">Link Actors to Movies</button>

        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
        <p>This website is for CS330 Project 3.</p>
        <p> Written by Jeongbin Son.</p>
    </footer>
</body>
</html>
