<!DOCTYPE html>
<html lang="en">

<head>
    <title>Actor Details</title>
    <script src="~/js/script.js" integrity="sha384-KfEnl1d8KoP6Hl2WmWrl/6gcETzpUQ91qxWCeLzEYG5JWIj1VfOWp5casdpqHF+a" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/styles.css" integrity="sha384-xVK8ZgXL/GgCAL+xNh/09cLpEOL1O515F7qYcZFdY9K5zQuptIPMXoGHaz8fafvW" crossorigin="anonymous">
</head>

<body onload="initializeActorPage()" data-actor-id="@Model.Id" data-actor-name="@Model.Name">
    <section id="details-section">
        <h2>@Model.Name</h2>
        <p><strong>Gender:</strong> @Model.Gender</p>
        <p><strong>Age:</strong> @Model.Age</p>
        <p><strong>IMDB:</strong> <a href="@Model.IMDBLink" target="_blank">Link</a></p>
        <img src="@Model.Photo" alt="@Model.Name" style="width:100px;" />
        <h3>Associated Movies</h3>
        <ul id="movies-list"></ul>
        <br></br>
        <hr id="big-section-break-line">
        <br>
        <p><strong>Overall Sentiment:</strong> <span id="overall-sentiment"></span></p>
        <br>

        <h3>AI-Generated Tweets</h3>
        <table id="tweets-table">
            <thead>
                <tr>
                    <th>Tweet</th>
                    <th>Sentiment</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <br>
        <hr id="small-section-break-line">

        <ul id="movies-and-shows"></ul>

        <div class="navigation-buttons">
            <button onclick="history.back()" class="btn">Go Back</button>
            <button onclick="window.location.href='@Url.Action("Index", "Home")'" class="btn">Go Home</button>
        </div>
    </section>
    <button onclick="scrollToTop()" id="scrollUpBtn" class="scroll-up-btn">↑</button>

</body>

</html>
