<!DOCTYPE html>
<html lang="en">

<head>
    <title>Actor Details</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <script src="~/js/script.js" defer></script>
</head>

<body onload="initializeActorPage()" data-actor-name="@Model.Name">
    <section id="details-section">
        <h2>@Model.Name</h2>
        <p><strong>Gender:</strong> @Model.Gender</p>
        <p><strong>Age:</strong> @Model.Age</p>
        <p><strong>IMDB:</strong> <a href="@Model.IMDBLink" target="_blank">Link</a></p>
        <img src="@Model.Photo" alt="@Model.Name" style="width:100px;" />
        <hr id="big-section-break-line">
        <br>
        <p><strong>Overall Sentiment:</strong> <span id="overall-sentiment"></span></p>
        <br>

        <h3>AI-Generated Tweets</h3>
        <table id="tweets-table">
            <thead>
                <tr>
                    <th>Tweet</th>
                    <th>Sentiment</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <br>
        <hr id="small-section-break-line">

        <ul id="movies-and-shows"></ul>

        <button onclick="window.history.back()">Back</button>
    </section>
</body>

</html>
