@model Fall2024_Assignment3_json10.ViewModels.LinkActorsMoviesViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Movies</title>
    <link rel="stylesheet" href="~/css/styles.css"
        integrity="sha384-xVK8ZgXL/GgCAL+xNh/09cLpEOL1O515F7qYcZFdY9K5zQuptIPMXoGHaz8fafvW" crossorigin="anonymous">
    <script src="~/js/script.js" integrity="sha384-ZpAsNohY0RdNfVEUX62gU7gzoBZJffjlZkpcuzTpGs8lNcBKP/ydkaMW2/QyN5xc"
        crossorigin="anonymous"></script>
</head>

<body>
    <h2 id="linkactorsmovies-movies-title">Movies</h2>
    <div class="navigation-buttons">
        <button onclick="window.location.href='@Url.Action("Index", "Home")'" class="btn">Go Home</button>
    </div>
    <section id="movies-section">
        @foreach (var movie in Model.Movies)
        {
            <div class="movie-card">
                <img src="@movie.Poster" alt="@movie.Title" />
                <h3>@movie.Title</h3>
                <p><strong>Year:</strong> @movie.Year</p>
                <p><strong>Genre:</strong> @movie.Genre</p>
                <button onclick="location.href='@Url.Action("MovieDetails", "Movies", new { id = movie.Id })'">View
                    Details</button>
            </div>
        }
    </section>

    <button onclick="scrollToTop()" id="scrollUpBtn" class="scroll-up-btn">↑</button>
</body>

</html>
